body{
    background-color: #222324;
    color: white;
}


.robot-table{
    font-weight: 800;
    font-size: 18px;
    background-color: #36393e;
    margin: 10px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 8px;
    width:100%;
}

ul{
    padding-left: 0px;
    list-style-type: none;
}

td{
    padding: 10px;
}

td:hover{
    background-color: #4d5055;
}

.robot-table img{
    width: 100px;
}

.text-direction{
    text-align: right;
}
